.carouselWrapper {
  position: relative;
  overflow: hidden;
  width: 64%;
  height: 120px;
  background-color: #FAFAFA;
  z-index: 20;
}

.carousel {
  white-space: nowrap;
  display: flex;
  height: 100%;
  align-items: center;
}

.track {
  display: inline-flex;
  animation: scroll 60s linear infinite;
}

.logo {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 200px;
  margin-right: 25px;
  margin-left: 25px; // Remove any margin
  padding: 0 1rem; // Adjust as needed
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


